.header {
  background-color: rgb(10, 113, 231);
  height: 80px;
  width: 800px;
}
.header h1 {
  color: white;
  font-size: 40px;
  float: left;
  margin: 20px;
}
.header img {
  margin-top: 25px;
  margin-left: 580px;
}
.header p {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 750px;
  border-radius: 30%;
  margin-top: -25px;
}
